@model MobiNews.MvcUI.Models.ImportMethodModel

<br />

<div class="jumbotron">
    <h1>Configure import methods</h1>
    <p class="lead">Configure an import method and associate it with a supplier.</p>
</div>

<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Parameter</th>
                <th>Enabled</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var importMethod in Model.ImportMethods)
            {
                <tr>
                    <th scope="row">@importMethod.Id</th>
                    <td>@importMethod.Name</td>
                    <td>@importMethod.ImportType</td>
                    <td>@Html.Raw(@importMethod.ListParametersHtmlFormat)</td>
                    <td><a data-value="@importMethod.Id" href="javascript:void(0)" class="btnEdit">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<h3>Add New Import Method:</h3>
<div class="row">
    <div class="container">
        <div class="col-md-3">
            <div class="form-group">
                <label for="name">Name:</label>
                @Html.TextBoxFor(tb => tb.ImportMethods.FirstOrDefault().Name, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="importType">Import type:</label>
                <div class="dropdown">
                    @Html.DropDownListFor(x => Model.ImportTypes,
                   new SelectList(Model.ImportTypes, "Value", "Text"), " - Please Select -", new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-9 well">
            <div class="row">
                <div class="col-md-8 pull-left">
                    <label for="paramters">Add new parameter:</label>
                    <div class="input-group">
                        <div class="col-md-4 pull-left">Name: <input id="paramName" class="form-control" /></div>
                        <div class="col-md-4 pull-left">Value: <input id="paramValue" class="form-control" /></div>
                        <div class="col-md-4 pull-left"><br /><button type="button" class="btn btn-info btnAddParam">Add..</button></div>
                    </div>
                </div>
                <div class="col-md-4 pull-left">
                    <label for="paramters">Parameters:</label>
                    <div class="col-md-12" id="parametersList">
                        <ul></ul>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary btnAddImportMethod">Add Import Method</button>
    </div>
</div>
<div class="clearfix"></div>

@section Scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var id = 0;

            $(document).on('click', '.btnAddImportMethod', function () {
                $(this).load("@Url.Action("AddImportMethod")", {
                    SupplierName: $("#SupplierName").val(),
                    NotificationUrl: $("#NotificationUrl").val()
                });

                window.location.reload(true);
            });

            $(document).on('click', '.btnEdit', function () {
                alert("sorry not implemented yet!");
            });

            $(document).on('click', '.btnAddParam', function () {
                if ($("#paramName").val() != "" && $("#paramValue").val() != "") {

                    $("#parametersList ul").append("<li>Name: "
                        + $("#paramName").val()
                        + ", Parameter: "
                        + $("#paramValue").val()
                        + "</li>");

                    $("#paramName").val("");
                    $("#paramValue").val("");
                }
            });
        });

    </script>
}