@model MobiNews.MvcUI.Models.NewStoriesModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MobiNews - News Stories</h1>
</div>

<h3>Latest stories:</h3>
<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>News Story</th>
                <th>Image</th>
                <th>Supplier</th>
                <th>Ref</th>
                <th>Date added</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var story in @Model.Stories)
            {
                <tr>
                    <th scope="row">@story.Id</th>
                    <td>@story.Title</td>
                    <td>@story.NewsStory</td>
                    <td><img src="@Url.Content(story.ImagePath)" /></td>
                    <td>@story.Supplier</td>
                    <td>@story.Ref</td>
                    <td>@story.DateAdded</td>
                </tr>
            }
        </tbody>
    </table>
</div>